.nav{
    background-color:blue;
}
.lisgroup{
    background-color: aqua;
}
.CAROSUEL{
    background-color: plum;
}
.rowmain{
    background-color: beige;

}

.act{
    background-color: green;
}
.act1{
    background-color: yellow;
}
.FOOTER{
    background-color: black;
}
